* {
    box-sizing: border-box;
}

.container-interior {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    width: 100%;
}

.container-image{
    width: 100%;
    height: 600px;
    background-color: black;
    background: linear-gradient(95deg, #232324, transparent);
    margin-bottom: 3%;
    
}

.image {
    background-size: cover;
    width: 100%;
    max-height: 90%;
    position: absolute;
    object-fit: contain;
}


.image-content {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.flex-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    width: 8%;
    height: 8%;
}

.block-text {
    text-align: center;
    line-height: 26px;
}

.title-text {
    line-height: 24px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
}

.text {
   font-size: 18px;
   color: aliceblue; 
}

.colortext {
    color: red;
    font-weight: 600;
    font-size: 18px;
}

.fa-solid {
    color: red;
    width: 20px;
}

.phone {
    line-height: 24px;
    font-weight: 600;
    font-size: 110%;
    color: rgb(70, 74, 83);
}


.header {
    font-size: 340%;
    text-align: center;
    padding-top: 5%;
    color: aliceblue;
    color: red;
    font-weight: 600;    
}


.header-text {
    font-size: 250%;
    color:aliceblue;
    text-align: center;
    padding-top: 10%;
    font-weight: 600;
}

.button {
    background-color: red;
    border: none;
    padding: 2%;
    font-size: 120%;
    border-radius: 10px;
    color: #fbfbfa;
    font-weight: 600;
    box-shadow: 1px 1px 4px #f7f6f5;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    margin-top: 12%;
    cursor: pointer;
}

.button_tlf {
    text-decoration: none;
    color: #fbfbfa;
}

.button:hover {
    background-color: rgb(5, 44, 160);    
}

.flex-container {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    gap: 25px;
}

.box-info {
    border-radius: 10px;
    background-color: #ebebea;
    display: flex; 
    flex-direction: column;  
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    color: rgb(44, 43, 43);
    font-weight: 600;
    box-shadow: 1px 1px 4px rgb(11, 11, 11);
    gap: 20px;
}

.line {
    border-top: 2px solid #c5c2c2;
    margin-bottom: 3%;
}

.abzatz {
    width: auto;
    padding: 1%;
    background-color: red;
}

.phone-abzatz {
    text-align: center;
    font-size: 300%;
    color: #fbfbfa;
}

.line2 {
    border-top: 2px solid #c5c2c2;
    margin-top: 3%;
}

.header-block2 {
    font-size: 34px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    color:rgb(74, 73, 73);
}

.info {
    max-width: auto;
    padding-bottom: 50px;
}



.img-sib {
    width: 100%;
    
}

.text-sib {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}



.block3 {
    max-width: auto;
    text-align: center;
}

.img-block3 {
    width: 27%;       
}


.frame {
    border: 1px solid;
    border: none;
    border-left: 7px solid red;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #f7f6f5;
    margin-bottom: 3%;
}

.header-frame {
    display: flex;
    justify-self: start;
    font-weight: 600;
    font-size: 22px;
    padding-left: 20px;
    padding-top: 10px;
}

.frame-text {
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    padding-left: 2%;
    padding-bottom: 1%;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #656464;
         
}

.colortext2 {
    color: #050000;
    font-weight: 600;
    font-size: 17px;
}


.block4 {
    width: 100%;
    height: 100px;
    background-color: #959494;
    margin-top: 3%;
}

.flex-container4 {
    display: flex;
    justify-content: space-between;
    
}

.block-futer1 {
    font-size: 18px;
    padding-top: 3%;
    line-height: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #262525;
}

.flex-block1 {
    display: flex;
}


.logo-futer {
    width: 15px;
    margin-right: 5px;
}

@media (max-width: 600px) {

    .container-interior {
        max-width: 600px;
        margin: 0 auto;
    }

    .container-image {
        height: 350px;  
    }

    .image {
        object-fit: contain;
        object-position: center;    
    }

    .header {
        font-size: 180%;
    }

    .header-text {
        font-size: 150%;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .button {
        margin-top: 15%;
        width: 50%;
        padding: 4%;
        margin-bottom: 25%;
    }

    .phone-abzatz {
        font-size: 150%;
    }

        
    .button_tlf {
        font-size: 70%;
    }

    .img-block3 {
        width: 50%;
    }

    .block-futer1 {
        font-size: 18px;         
    }

    .text {
        font-size: 14px;    
    }

    .colortext {
        font-size: 16px;
    }

    .flex-navigation {
        justify-content: space-evenly;
    }

    .block4 {
        background-color: #959494;
        height: 100%;
        display: flex;
    }

    .flex-container4 {
        flex-direction: column;
        width: 100%;
    }
    
    .phone {
        font-size: 30%;
        line-height: 10px;
        
    }
    
    .fa-solid {
        width: 7px;
    }

    .image-content {
        width: 95%;
    }

    .frame {
        width: 95%;
    }
}