.container {
    max-width: 1920px;
    background-color: rgb(50, 36, 64);
    height: 400px;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.block {
    width: 1000px;
    height: 400px;
    margin-left: 230px;
    }
   
.navigation {
    height: 20px;
    padding: 40px;
    }

.box {
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
}

.link {
    color: aliceblue;
    text-decoration: none;
}

.text {
    padding-top: 100px;
    padding-left: 200px;
    font-size: 50px;
    font-weight: 800;
    font-family: sans-serif;
    color: aliceblue;
}

.container2 {
    max-width: 1920px;
    width: 100%;
}

.h1 {
    font-size: 28px;
    font-weight: 600;
    padding-left: 600px;
    padding-top: 100px;
    font-family: Arial;
}

.p {
    font-size: 18px;
    font-weight: 600;
    padding-left: 500px;
    padding-top: 30px;
}

.image {
    width: 600px;
    height: 400px;
    margin-top: 30px;
    margin-left: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.container3 {
    max-width: 1920px;
    background-color:rgb(217, 228, 228);
    width: 100%;
    height: 300px;
    margin-top: 100px;
}

.header {
    width: 900px;
    height: 300px;
    margin-left: 300px;
}

.h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    font-weight: 600;
    padding-left: 360px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.block1 {
    height: 120px;
    margin-top: 50px;
}

.box1 {
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    color: aliceblue;
    padding: 10px;
    border: 0.5px solid wheat;
    background-color: rgb(50, 36, 64);
    margin: 10px;
    margin-left: 30px;
    border-radius: 20px;
}

.container4 {
    max-width: 1920px;
    width: 100%;
    height: 300px;
    background-color: rgb(217, 228, 228);
}

.h3 {
    font-size: 28px;
    font-weight: 600;
    padding-left: 600px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

.list {
    margin-left: 550px;
    margin-top: 50px;
    width: 150px;
}

.list2 {   
    width: 170px;
    margin-top: 50px;
    margin-left: 120px;
    }

.li {
    font-size: 16px;   
    line-height: 2em;
    color: rgb(12, 10, 10);
    font-family: Arial, Helvetica, sans-serif;
}

.container5 {
    max-width: 1920px;
    width: 100%;
    height: 450px;
}

.h4 {
    font-size: 28px;
    font-weight: 600;
    padding-left: 650px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.project1 {
    width: 230px;
    height: 150px;
    background-color: rgb(217, 228, 228);
    border-radius: 10px;
    margin-right: 20px;
}

.project2 {
    width: 230px;
    height: 150px;
    background-color: rgb(217, 228, 228);
    border-radius: 10px;
}

.project3 {
    width: 230px;
    height: 150px;
    background-color: rgb(217, 228, 228);
    border-radius: 10px;
    margin-left: 20px;
}

.flex3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 750px;
}

.text1 {
    display: inline-block;
    margin-left: 470px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.text2 {
    display: inline-block;
    margin-left: 180px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.text3 {
    display: inline-block;
    margin-left: 185px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container6 {
    max-width: 1920px;
    width: 100%;
    height: 300px;
    background-color: rgb(217, 228, 228);
}

.h5 {
    font-size: 28px;
    font-weight: 600;
    padding-left: 700px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    width: 30px;
    height: 30px;
    margin-left: 370px;
    margin-top: 20px;
}

.info {
    margin-left: 10px;
    margin-top: 20px;
}

.contact {
    display: flex;
    align-items: center;
}

.VK {
    text-decoration: none;
    margin-top: 25px;
}










    
    
